[Unit]
Description=BrainGenix API Gateway Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/BrainGenix-API

[Install]
WantedBy=multi-user.target


